<h1>home works!</h1>
<div class="flex items-center border-2 border-dashed border-gray-600 p-2">
  <h1>Route Data:&nbsp;&nbsp;</h1>
  <pre class="p-2 bg-gray-100">{{routeData | json}}</pre>
</div>
<br/>
  <div class="flex items-center border-2 border-dashed border-gray-600 p-2">
    <h1>Route Params:&nbsp;&nbsp;</h1>
    <pre class="p-2 bg-gray-100">{{routeParams | json}}</pre>
  </div>
  <br/>
    <div class="flex items-center border-2 border-dashed border-gray-600
      p-2">
      <h1>Qquery Params:&nbsp;&nbsp;</h1>
      <pre class="p-2 bg-gray-100">{{queryParams | json}}</pre>
    </div>